html {
  background-color: #f9eff8;
}

#stuff {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  align-items: center;
  margin: auto;
  width: 1000px;
  display: inline-block;
}

.project {
  position: relative;
  text-align: center;
  margin: auto;
  width: 600px;
}

.title {
  margin: 0px;
}

.details {
  margin: 0px;
  margin: auto;
}

#prev {
  position: absolute;
  top: 50%;
  opacity: 1;
  left: 60px;
  padding: 16px;
  margin-top: -30px;
  cursor: pointer;
  color: #5b4848;
  font-size: 28px;
  transition: 0.4s ease;
  border-radius: 50%;
}

#next {
  position: absolute;
  top: 50%;
  opacity: 1;
  right: 60px;
  margin-top: -30px;
  padding: 16px;
  cursor: pointer;
  color: #5b4848;
  font-size: 28px;
  transition: 0.4s ease;
  border-radius: 50%;
}

#dots {
  text-align: center;
  position: relative;
  top: 80px;

}

.dot {
  cursor: pointer;
  opacity: 0.3;
  height: 10px;
  width: 10px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: #5b4848;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.active, .dot:hover  {
  opacity: 0.8;
}
